
.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    position: relative;
    height: 50vh;
    margin-top: 4rem;
    padding-top: 3rem;
}

.awesomee {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
  }

  .awesomee > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesomee > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesomee > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
  }

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.s-blur2{
    top: 1rem;
    left: 4rem;
}

@media screen and (max-width: 600px) {
    .contact-form{
        padding: 0px;
        flex-direction: column;
        gap: 2rem;
        height: 27rem;
    }
    .c-right .user{
        padding-top: 5px;
        width: 16rem;
    }

    .w-left{
        justify-content: center;
        padding: 0px;
    }
    .awesomee {
        display: flex;
        /* margin-top: 0px; */
        flex-direction: column;
        position: relative;
        /* gap: 20px; */
      }

}  